Repository vegaslon/metaverse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server deps, frontend deps

.gitlab-ci.yml:

stages:
    - dependencies
    - test
    - build
    - deploy

include:
    - template: Dependency-Scanning.gitlab-ci.yml

server deps:
    stage: dependencies
    image: node:lts

    cache:
        paths:
            - server/node_modules/

    script:
        - cd server
        - yarn install

    only:
        changes:
            - server/yarn.lock

frontend deps:
    stage: dependencies
    image: node:lts

    cache:
        paths:
            - frontend/node_modules/

    script:
        - cd frontend
        - yarn install

    only:
        changes:
            - frontend/yarn.lock

server tests:
    stage: test
    image: node:lts

    cache:
        policy: pull
        paths:
            - server/node_modules/

    script:
        - cd server
        - yarn run test:cov

    coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/

    artifacts:
        expire_in: 7 days
        paths:
            - server/coverage/
        reports:
            junit: server/junit.xml

build server:
    stage: build
    image: node:lts

    dependencies:
        - server tests

    cache:
        policy: pull
        paths:
            - server/node_modules/

    script:
        - mkdir -p app app/server

        - cd server
        - yarn run build

        - cp -r dist ../app/server
        - cp -r assets ../app/server
        - cp -r templates ../app/server
        - cp -r package.json ../app/server

    artifacts:
        expire_in: 7 days
        paths:
            - app/server

build frontend:
    stage: build
    image: node:lts

    cache:
        policy: pull
        paths:
            - frontend/node_modules/

    script:
        - mkdir -p app app/frontend

        - cd frontend
        - yarn run build:ssr

        - cp -r dist ../app/frontend

    artifacts:
        expire_in: 7 days
        paths:
            - app/frontend

deploy docker image:
    stage: deploy
    image: docker:latest

    # when: manual

    dependencies:
        - build server
        - build frontend

    variables:
        DOCKER_TLS_CERTDIR: ""

    services:
        - docker:dind

    script:
        - docker build -t registry.tivolicloud.com/tivolicloud-private/metaverse:latest .

        - docker login registry.tivolicloud.com -u makitsune -p $GITLAB_TOKEN
        - docker push registry.tivolicloud.com/tivolicloud-private/metaverse:latest
#pages:
#    stage: deploy
#    dependencies:
#        - server tests
#    script:
#        - mv server/coverage/lcov-report public/
#    artifacts:
#        expire_in: 7 days
#        paths:
#            - public

Revert "Added dependency scanning"
  .gitlab-ci.yml
Due: none

Huge overhaul of sessions which are now stored in mongo
  server/package.json
  server/src/admin/admin.controller.ts
  server/src/admin/admin.module.ts
  server/src/api/domains/domains.controller.ts
  server/src/api/domains/domains.module.ts
  server/src/api/places/places.controller.ts
  server/src/api/places/places.module.ts
  server/src/api/user-stories/user-stories.controller.ts
  server/src/api/user-stories/user-stories.helper.ts
  server/src/api/user/user.controller.ts
  server/src/api/user/user.module.ts
  server/src/api/users/users.controller.ts
  server/src/api/users/users.module.ts
  server/src/app.module.ts
  server/src/common/utils.ts
  server/src/domain/domain.controller.ts
  server/src/domain/domain.module.ts
  server/src/domain/domain.schema.ts
  server/src/domain/domain.service.ts
  server/src/domain/user-domain.controller.ts
  server/src/environment.ts
  server/src/session/session.module.ts
  server/src/session/session.schema.ts
  server/src/session/session.service.ts
  server/src/user/user.module.ts
  server/src/user/user.schema.ts
  server/src/user/user.service.ts
  server/yarn.lock
Due: server deps

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Revert "Update .gitlab-ci.yml"
  .gitlab-ci.yml
Due: none

Added yarn install before each script, might fix pipeline
  .gitlab-ci.yml
Due: none

Fixed user tests
  server/src/session/session.schema.ts
  server/src/session/session.service.ts
  server/src/user/user.spec.ts
Due: none

setUserLocation didn't heartbeat and return session id
  server/src/session/session.service.ts
  server/src/user/user.service.ts
Due: none

Added hostname in headers for traefik testing
  server/src/main.ts
Due: none

Use platform id in frontend
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/sso/sso.component.ts
  frontend/src/app/header/header.component.ts
  frontend/src/app/ui/domain-card/domain-card.component.ts
Due: none

Removed domino dependency
  frontend/package.json
  frontend/src/app/app.module.ts
  server/package.json
  server/src/frontend.ts
  server/yarn.lock
Due: server deps

Experimenting with swc
  .gitignore
  server/.swcrc
  server/package.json
  server/yarn.lock
Due: server deps

Added "about us" but is unfinished
  frontend/package.json
  frontend/src/app/about-us/about-us.component.html
  frontend/src/app/about-us/about-us.component.scss
  frontend/src/app/about-us/about-us.component.ts
  frontend/src/app/about-us/about-us.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/header/header.component.html
  frontend/src/styles.scss
  frontend/yarn.lock
Due: frontend deps

AboutUsComponent prettyPrint to public
  frontend/src/app/about-us/about-us.component.ts
Due: none

Default email is set to current email
  frontend/src/app/user/settings/settings.component.ts
Due: none

Edit domain changes
  frontend/src/app/ui/edit-domain/edit-domain.component.html
Due: none

Updated download component to use origin
  frontend/src/app/header/download/download.component.ts
Due: none

Update README.md
  README.md
Due: none

Added releasesPath back into DownloadComponent
  frontend/src/app/header/download/download.component.ts
Due: none

Updated style of contributors
  frontend/src/app/about-us/about-us.component.html
  frontend/src/app/about-us/about-us.component.scss
  frontend/src/app/about-us/about-us.component.ts
Due: none

Added /api/releases/latest
  frontend/src/app/header/download/download.component.ts
  server/package.json
  server/src/app.controller.ts
  server/src/app.module.ts
  server/yarn.lock
Due: server deps

Disabled sentry report dialog
  frontend/src/app/app.module.ts
Due: none

Added health checks
  server/package.json
  server/src/app.module.ts
  server/src/health.service.ts
  server/yarn.lock
Due: server deps

Updated dependencties
  server/package.json
  server/yarn.lock
Due: server deps

Downgraded bcrypt as 4.0.0 doesn't compile in Alpine yet
  server/package.json
Due: none

Updated health indicators
  server/src/health.service.ts
Due: none

Updated search query when searching domains
  server/src/domain/domain.service.ts
Due: none

Added user files
  server/package.json
  server/src/app.module.ts
  server/src/environment.ts
  server/src/files/files.controller.ts
  server/src/files/files.module.ts
  server/src/files/files.service.ts
  server/src/user/user.controller.ts
  server/yarn.lock
Due: server deps

Allow swagger in production
  server/src/main.ts
Due: none

Initial My Files ui
  frontend/src/app/header/header.component.html
  frontend/src/app/user/files/files.component.html
  frontend/src/app/user/files/files.component.scss
  frontend/src/app/user/files/files.component.ts
  frontend/src/app/user/files/files.service.ts
  frontend/src/app/user/files/folder-view/folder-view.component.html
  frontend/src/app/user/files/folder-view/folder-view.component.scss
  frontend/src/app/user/files/folder-view/folder-view.component.ts
  frontend/src/app/user/files/tree-item/tree-item.component.html
  frontend/src/app/user/files/tree-item/tree-item.component.scss
  frontend/src/app/user/files/tree-item/tree-item.component.ts
  frontend/src/app/user/files/upload/upload.component.html
  frontend/src/app/user/files/upload/upload.component.scss
  frontend/src/app/user/files/upload/upload.component.ts
  frontend/src/app/user/user.module.ts
  frontend/src/app/utils.ts
  server/src/files/files.controller.ts
  server/src/files/files.service.ts
Due: none

Updated files
  frontend/src/app/app.component.ts
  frontend/src/app/material.module.ts
  frontend/src/app/user/files/create-folder/create-folder.component.html
  frontend/src/app/user/files/create-folder/create-folder.component.scss
  frontend/src/app/user/files/create-folder/create-folder.component.ts
  frontend/src/app/user/files/files.component.html
  frontend/src/app/user/files/files.component.ts
  frontend/src/app/user/files/files.service.ts
  frontend/src/app/user/files/folder-view/folder-view.component.html
  frontend/src/app/user/files/folder-view/folder-view.component.scss
  frontend/src/app/user/files/folder-view/folder-view.component.ts
  frontend/src/app/user/files/upload/upload.component.html
  frontend/src/app/user/files/upload/upload.component.scss
  frontend/src/app/user/files/upload/upload.component.ts
  frontend/src/app/user/user.module.ts
  frontend/src/app/utils.ts
  server/src/environment.ts
  server/src/files/files.controller.ts
  server/src/files/files.module.ts
  server/src/files/files.service.ts
Due: none

Updated CI
  .gitlab-ci.yml
Due: none

Add file size to user size when uploading files
  frontend/src/app/user/files/create-folder/create-folder.component.html
  server/src/files/files.service.ts
Due: none

Added 3d model icon
  frontend/src/app/utils.ts
Due: none

Added but commented out experimental ftp server
  server/package.json
  server/src/files/files.module.ts
  server/src/files/ftp.service.ts
  server/yarn.lock
Due: server deps

Imports cleanup
  server/src/admin/admin.controller.ts
  server/src/admin/admin.module.ts
  server/src/api/domains/domains.controller.ts
  server/src/api/domains/domains.module.ts
  server/src/api/places/places.controller.ts
  server/src/api/places/places.module.ts
  server/src/common/utils.ts
  server/src/domain/domain.controller.ts
  server/src/domain/domain.service.ts
  server/src/session/session.service.ts
Due: none

Updated validatePath with tests
  server/src/files/files.service.ts
  server/src/files/files.spec.ts
Due: none

Updated utils to a service
  frontend/src/app/user/files/files.component.html
  frontend/src/app/user/files/files.component.ts
  frontend/src/app/user/files/files.service.ts
  frontend/src/app/user/files/folder-view/folder-view.component.html
  frontend/src/app/user/files/folder-view/folder-view.component.ts
  frontend/src/app/user/files/tree-item/tree-item.component.html
  frontend/src/app/user/files/tree-item/tree-item.component.ts
  frontend/src/app/user/files/upload/upload.component.html
  frontend/src/app/user/files/upload/upload.component.ts
  frontend/src/app/utils.service.ts
  frontend/src/app/utils.ts
Due: none

Fixed path when uploading file
  frontend/src/app/user/files/upload/upload.component.ts
Due: none

Updated formatExt
  frontend/src/app/utils.service.ts
Due: none

Added audio preview
  frontend/src/app/user/files/folder-view/folder-view.component.html
  frontend/src/app/utils.service.ts
Due: none
